div.grille {
  display: grid;
  grid-template-columns: 128px 128px 128px 128px;
  grid-gap: 2px;
}

div.image-with-flag {
  position: relative;
}

img {
  opacity: 0.5;
  width: 128px;
  height: 128px;
}

div.flag {
  position: absolute;
  bottom:0px;
  left:0px;
  background: red;
  padding: 2px;
  margin: 2px;
  font-family: monospace;
}