div.header-panel {
  background-color: #dfdede;
  position: fixed;
  top: 0px;
  left: 0px;
}

div.album-list {
  height: 700px;
  overflow: scroll;
}
div.album-panel {
  width: 250px;
  position: fixed;
  top: 0px;
  background-color: #cbcffb;
  margin-top: 0px;
}

div.photo-panel {
  margin-left: 250px;
  background-color: #d2b3ca;
}

div.grille {
  display: grid;
  grid-template-columns: 128px 128px 128px 128px 128px 128px;
  grid-gap: 2px;
}

div.image-with-flag {
  position: relative;
}

img {
  width: 128px;
  height: 128px;
}

div.flag {
  position: absolute;
  top:0px;
  left:0px;
}

div.flag div {
  position: relative;
  padding: 2px;
  margin: 2px;
  font-family: monospace;
  width: 40px;
}

div.flag div:nth-child(1) {
  background-color: #4ce0ff;
}

div.flag div:nth-child(2) {
  background-color: red;
}

div.flag div:nth-child(3) {
  background-color: #00ff00;
}

div.flag div:nth-child(4) {
  background-color: #f5f500;
}

div.image-with-flag input {
  position: absolute;
  right: 0px;
  top: 0px;
}

div.ReactModalPortal  div:hover {
  background-color: #b1b1b1;
}